.loginForm,
.excursionForm,
.loggedInView,
.excursion-detailed-item {
  box-sizing: content-box;
  width: 460px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 30px auto;
}

h3 {
  margin: 60px 0 -40px 40px;
  display: inline;
}

h4 {
  color: rgb(17, 82, 180);
  margin-bottom: 20px;
}

.logout-btn {
  max-width: 50%;
  float: right;
}
.label {
  font-size: medium;
}
.inputField {
  padding-top: 10px;
  padding-bottom: 10px;
}

.input {
  box-sizing: border-box;
  outline: none;
  border: solid 2px #1189de;
  border-radius: 4px;
  color: #292929;
  width: 100%;
  padding: 12px;
  font-size: 14px;
  background: rgba(255, 255, 255, 1);
}

.submitButton {
  padding-top: 16px;
}

.btn {
  width: 100%;
  min-width: 280px;
  color: #565656;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  border: solid 2px #1189de;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
}
#back-to-excursion {
  margin-top: 1rem;
}

section {
  margin: 1rem auto;
  min-width: 280px;
  width: 100%;
  text-align: center;
  background-color: white;
  border-radius: 12px;
}
.pending-for-approval {
  color: #d2691e;
  font-weight: 600;
}
.pending-for-approval-box {
  height: 80%;
  border: 6px solid #d2691e;
  background: #d2691e;
  margin: 2rem auto;
  width: 50rem;
  max-width: 100%;
  box-sizing: border-box;
}
